.App {
  text-align: center;
  font-family: serif;
  width: 100%;
  height: 100%;
  background-image: url('./usa.jpeg');
  background-repeat: no-repeat; 
  background-size: cover;
}

h1 {
  font-size: 3em;
}

